.bookmark{
    margin: 0;
    margin: 0;
    display: block;
    border-right: 1px solid #a79258;
    border-bottom: 1px solid #a79258;
    flex-basis: 50%;
    text-align: center;
    background-color: #0C0F10;
    padding: 5px;
    opacity: .6;
    cursor: pointer;
    color: tomato;
}

.active{
    border-bottom: none;
    background-color: transparent;
    opacity: 1;
}