button {
    border: 1px solid #a79258;
    background-color: transparent;
    border-radius: 0px;
    outline: none;
    padding: 10px 15px;
    color: #fff;
    font-size: 18px;
    transition-property: background-color;
    transition-duration: .3s;
    min-width: 80px;


    &:hover {
        background-color: rgba(167, 146, 88, 0.3);
        ;
    }

    &:active {
        background-color: #27969d;
    }

}



@media(max-width:430px) {
    .button--game-check {
        margin-top: 10px;
        width: 100%;
        border-bottom: none;
    }

    .button--login {
        display: none;
    }
}